{{!-- BEGIN CUSTOMILY --}}
<style type="text/css">
    .modal-body {
        max-height: 500px !important;
        overflow-x:;
        : scroll !important;
        position: relative !important;
    }
    .modal-body #preview-canvas {
        max-height: 350px;
        max-width: 350px;
    }
    .modal-body #fabric-container .canvas-container {
        text-align: center;
    }
</style>
{{!-- END CUSTOMILY --}}
<div class="modal-header">
    <h2 class="modal-header-title">{{lang 'cart.reconfigure_product' name=product_name}}</h2>
</div>
<div class="modal-body" data-product-option-change>
    <div class="alertMessageBox" hidden>
        {{> components/common/alert-info}}
    </div>

    <form id="CartEditProductFieldsForm" method="post" action="cart.php" enctype="multipart/form-data">
        <input type="hidden" name="action" value="EditProductFieldsInCart">
        <input type="hidden" name="item_id" value="{{quote_item_id}}">

        {{#each options}}
            {{{dynamicComponent 'components/products/options'}}}
        {{/each}}

        <div class="form-actions">
            <input class="button button--primary" type="submit" value="{{lang 'common.save'}}">
        </div>
    </form>
</div>
