// =============================================================================
// SOCIAL LINKS (Settings)
// =============================================================================

$socialLinks-iconSize:                  13px;

$socialLinks-alt-iconSize:              14px;
$socialLinks-alt-iconColor:             stencilColor("color-textSecondary");
