<div id="cane-sizing-modal" class="modal" data-reveal data-prevent-quick-search-close>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content">
    	<div class="videoWrapper videoWrapper--square">
	    	<iframe width="560" height="315" src="https://www.youtube.com/embed/o0XFHzp3EVA?autoplay=1&controls=0&modestbranding=1&loop=1&showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	    </div>
    </div>
    <div class="loadingOverlay"></div>
</div>
