<div id="stick-sizing-modal" class="modal" data-reveal data-prevent-quick-search-close>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content" style="text-align: center">
   		<img src="{{getImage image 'productgallery_size' (cdn theme_settings.stick_sizing)}}" />
   		<br/>
   		<br/>
        <a class="button" data-reveal-id="stick-sizing-video-modal">Video Guide</a>
    </div>
    <div class="loadingOverlay"></div>
</div>
