---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}
<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            <h5 class="sidebarBlock-heading">Sort by</h5>
            {{> components/products/filter sort=pagination.category.sort}}
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            <h5 class="sidebarBlock-heading">Sort by</h5>
            {{> components/products/filter sort=pagination.category.sort}}
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                <h5 class="sidebarBlock-heading">Sort by</h5>
                {{> components/products/filter sort=pagination.category.sort}}
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <main class="page-content" id="product-listing-container">
        {{#unless theme_settings.hide_category_page_heading }}
            <h1 class="page-heading">{{category.name}}</h1>
            {{{region name="category_below_header"}}}
        {{/unless}}
        {{#if category.products}}
            {{> components/category/product-listing}}
        {{else}}
            <p>{{lang 'categories.no_products'}}</p>
        {{/if}}
        <!-- TrustBox widget - Grid -->
            <div class="trustpilot-widget" data-locale="en-US" data-template-id="539adbd6dec7e10e686debee" data-businessunit-id="5e9f5e2ae5a0080001fa627a" data-style-height="500px" data-style-width="100%" data-theme="light" data-stars="4,5" data-review-languages="en">
              <a href="https://www.trustpilot.com/review/brazos-walking-sticks.com" target="_blank" rel="noopener">Trustpilot</a>
            </div>
        <!-- End TrustBox widget -->
        {{{category.description}}}
        {{{region name="category_below_content"}}}
    </main>
</div>

{{/partial}}
{{> layout/base}}
