// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------


.blog-post-container {
    @include grid-row();
    margin-bottom: spacing("double");
}

.blog {
    margin-bottom: spacing("single");
    @include grid-column(12);

    @include breakpoint("small") {
        @include grid-column(6);
    }

    @include breakpoint("medium") {
        @include grid-column(4);
    }

    .tags {
        margin-top: spacing("half");
    }

    // scss-lint:disable SelectorFormat
    .addthis_toolbox {
        margin-top: spacing("half");
    }
    // scss-lint:enable SelectorFormat
}

.blog-title {
    font-size: fontSize("smaller");
    margin-top: spacing("half");

    a {
        text-decoration: none;
    }
}

.blog-date,
.blog-author {
    color: stencilColor("color-textPimary");
    margin-bottom: spacing("half");
}

.blog-author {
    margin-bottom: spacing("half");
}

.blog-post {
    font-size: fontSize("smaller");
    text-align: left;
}

.blog-thumbnail {
    margin: 0 auto (spacing("half"));
    position: relative;
    width: 100%;
    height: get_width(stencilString('blog_size'));
    overflow: hidden;

    img {
        width: 100%;
    }
}

.blog-post-figure {
    display: block;
    margin: auto;
}

.blog-post-body {
    display: block;
    margin: 0 auto;
    width: 100%;
}
