<nav>
    {{#if category.subcategories}}
        <div class="sidebarBlock">
            <h5 class="sidebarBlock-heading">{{category.name}}</h5>
            <ul class="navList">
                {{#each category.subcategories}}
                <li class="navList-item">
                    <a class="navList-action" href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}

    {{#if category.faceted_search_enabled}}
        {{> components/faceted-search/index category}}
    {{else}}
        {{> components/category/shop-by-price shop_by_price=category.shop_by_price category_url=category.url}}
    {{/if}}
    <!-- TrustBox widget - Grid -->
        <div class="trustpilot-widget" data-locale="en-US" data-template-id="539adbd6dec7e10e686debee" data-businessunit-id="5e9f5e2ae5a0080001fa627a" data-style-height="500px" data-style-width="100%" data-theme="light" data-stars="4,5" data-review-languages="en">
          <a href="https://www.trustpilot.com/review/brazos-walking-sticks.com" target="_blank" rel="noopener">Trustpilot</a>
        </div>
    <!-- End TrustBox widget -->
</nav>
