<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
        {{ getFontsCollection }}

        <script>
            // Change document class from no-js to js so we can detect this in css
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>
        <script>
            var storeHash = '{{settings.store_hash}}';
            var prodId = {{product.id}};
            
            if(storeHash && prodId) {
                var endpoint = 'https://us-central1-customily-bigcommerce.cloudfunctions.net/api';
                
                function getjx(url) {
                    return new Promise(function (res, rej) {
                      var xhttp = new XMLHttpRequest();
                      xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                          res(this.responseText);
                        } else if (this.readyState == 4 && this.status != 200) {
                          rej('network error');
                        }
                      };
                      xhttp.open("GET", url, true);
                      xhttp.send();
                    });
                }
        
                getjx(`${endpoint}/getStoreProductfromId/${storeHash}/${prodId}`)
                  .then(function (response) {
                    try {
                      var product = JSON.parse(response);
                      if(product.initialProductId) {
                          // Here we redirect.
                          window.top.location.href = '{{product.url}}';
                      }
                    } catch (err) {
                      throw new Error(err);
                    }
                
                })
                
            }
        </script>
        {{{ head.scripts }}}

        {{ inject 'themeSettings' theme_settings }}
        {{inject 'urls' urls}}
        <style>
            {{> components/amp/css/product-options}}
        </style>
    </head>
    <body>
        <div class="icons-svg-sprite">{{> components/amp/common/icon-defs }}</div>

        {{#block "page"}} {{/block}}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

        <script>
            // Exported in app.js
            window.stencilBootstrap("{{page_type}}", {{jsContext}}, false).load();
        </script>
        <script type="text/javascript" charset="utf-8">
            function postHeight() {
                window.parent.postMessage({
                    sentinel: 'amp',
                    type: 'embed-size',
                    height: window.document.querySelector('body').offsetHeight
                }, '*');
            }

            window.addEventListener("DOMContentLoaded", function () {
                window.addEventListener('resize', postHeight);
                postHeight();
            }, false);
        </script>

    </body>
</html>
